extends /layout/_default-layout

prepend config-block
  - page_name = 'ABOUT'

append stylesheet-block
  - base = SUB_DIR ? `/${SUB_DIR}` : ''
  link(rel="stylesheet", href=`${base}/css/about.css`)

append javascript-block
  - base = SUB_DIR ? `/${SUB_DIR}` : ''
  script(src=`${base}/js/about.js`)

block content-block
  include ../partial/_header
  include ../partial/_footer
  