extends /layout/_default-layout

prepend config-block
  - page_name = 'ABOUT'

//- append stylesheet-block

append javascript-block
  script.
    document.documentElement.setAttribute('data-page', 'about')

block content-block
  include ../partial/_header
  include ../partial/_footer
  