extends /layout/_default-layout

prepend config-block
  - page_name = 'ABOUT'

//- append stylesheet-block

//- append javascript-block

block content-block
  include ../partial/_header
  
  h1 SHOWROOM Starter
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
    br
    | Corrupti molestias vero eius atque minima sed velit odit voluptatibus quae, laboriosam cum accusamus blanditiis consequuntur ipsa optio minus impedit ab laudantium.

  include ../partial/_footer
  