extends /layout/_default-layout

prepend config-block
  - page_name = 'TOP'

append stylesheet-block
  - base = SUB_DIR ? `/${SUB_DIR}` : ''
  link(rel="stylesheet", href=`${base}/css/style.css`)

append javascript-block
  - base = SUB_DIR ? `/${SUB_DIR}` : ''
  script(src=`${base}/js/script.js`)

block content-block
  include ../partial/_header
  include ../partial/_fv
  include ../partial/_gallery
  include ../partial/_footer
  