extends /layout/_default-layout

prepend config-block

block content-block
  h1 SHOWROOM Starter
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias vero eius atque minima sed velit odit voluptatibus quae, laboriosam cum accusamus blanditiis consequuntur ipsa optio minus impedit ab laudantium.