extends /layout/_default-layout

prepend config-block
  - page_name = 'TOP'

//- append stylesheet-block

append javascript-block
  script.
    document.documentElement.setAttribute('data-page', 'index')

block content-block
  include ../partial/_header
  include ../partial/_fv
  include ../partial/_gallery
  include ../partial/_footer
  