* {
    box-sizing: border-box;
    outline: none;
    -webkit-overflow-scrolling: touch; // overflow-scrollのとき慣性スクロール有効
}

html {
    font-family: $sans-serif;
    font-feature-settings: "palt";
    color: $font-color;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    @include pc-layout {
        font-size: $base-font-size--pc;
        line-height: $base-line-height--pc;
    }
    @include sp-layout {
        font-size: $base-font-size--sp;
        line-height: $base-line-height--sp;
        // 文字を選択コピーしたいときは外す
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
